.container{
    height:100%;
    width:70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position:relative;
    margin:5%;
    background-color:white;
}

.sideNav{
    height:100%;
    width:15%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:7%;
    margin-bottom:5%;
}

@media screen and (max-width: 1880px),
       screen and (max-width: 1366px) and (orientation: landscape),
       screen and (max-width: 1366px) and (orientation: portrait){

       }


 @media  screen and (max-width: 1200px) and (orientation: landscape),
       screen and (max-width: 1200px) and (orientation: portrait),
       screen and (max-width: 1024px) and (orientation: landscape),
       screen and (max-width: 1024px) and (orientation: portrait){

       }

       @media screen and (max-width:960px) and (orientation: landscape){

       }

       @media screen and (max-width:768px),
       screen and (max-width:667px) and (orientation: portrait){
        .sideNav{
            width:35%;
        }
       }

       @media screen and (max-width : 350px),
       screen and (max-width:480px){
        .sideNav{
            width:35%;
        }

       }

       @media screen and (max-width:320px),
       screen and (max-width:480px){
        .sideNav{
            width:35%;
        }
       }

       @media screen and (max-width:290px){
          .sideNav{
              width:35%;
          }
       }