.container{
    height:100%;
    width:100%;
    padding:2%;
    display: flex;
    flex-direction: column;
    position:relative;
    border-radius: 4px;
    flex: 1 0 auto;
}

.pictureWrapper{
    height:100%;
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.informationNuggetsWrapper{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.priceInformation{
    font-size:26px;
    color: #2D2D2D;
    font-family: Open Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 7%;
    padding-bottom: 7%;
}

.propertyAddress{
    font-size:15px;
    font-weight: 400;
    font-style:normal;
    line-height: 15px;
    font-family: "Open Sans";
}

.propertySubtext{
    font-size:8px;
    font-weight: normal;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #979797;
}

.imageElement{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius:4px
}

.favorite{
    position: absolute;
    top: 4%;
    bottom: 100%;
    left: 78%;
    right: 0%;
    z-index: 9;
    /* background-color: red; */
    height: 12%;
    width: 16%;
}

.favoriteIcon{
    height:100%;
    width: 100%;
    content: url('../assets/heart-stroke.svg');
    cursor: pointer;
}

.nugget{
    padding-left:1%;
    padding-right: 1%;
}

@media screen and (max-width: 1880px),
       screen and (max-width: 1366px) and (orientation: landscape),
       screen and (max-width: 1366px) and (orientation: portrait){

       }


 @media  screen and (max-width: 1200px) and (orientation: landscape),
       screen and (max-width: 1200px) and (orientation: portrait),
       screen and (max-width: 1024px) and (orientation: landscape),
       screen and (max-width: 1024px) and (orientation: portrait){

       }

       @media screen and (max-width:960px) and (orientation: landscape){

       }

       @media screen and (max-width:768px),
       screen and (max-width:667px) and (orientation: portrait){
        .pictureWrapper{
            height: 60%;
        }
        .informationNuggetsWrapper{
            font-size:10px;
        }
        .priceInformation{
            font-size:12px;
        }
        .propertyAddress{
            font-size: 10px;
        }
        .propertySubtext{
            font-size: 8px;;
        }

       }

       @media screen and (max-width : 350px),
       screen and (max-width:480px){
        .pictureWrapper{
            height: 60%;
        }
        .informationNuggetsWrapper{
            font-size:10px;
        }
        .priceInformation{
            font-size:12px;
        }
        .propertyAddress{
            font-size: 10px;
        }
        .propertySubtext{
            font-size: 8px;;
        }

       }

       @media screen and (max-width:320px),
       screen and (max-width:480px){
        .pictureWrapper{
            height: 60%;
        }
        .informationNuggetsWrapper{
            font-size:10px;
        }
        .priceInformation{
            font-size:12px;
        }
        .propertyAddress{
            font-size: 10px;
        }
        .propertySubtext{
            font-size: 8px;;
        }

       }

       @media screen and (max-width:290px){
            .pictureWrapper{
                height:60%;
            }

            .informationNuggetsWrapper{
                font-size:10px;
            }

            .priceInformation{
                font-size:12px;
            }
            .propertyAddress{
                font-size: 10px;
            }
            .propertySubtext{
                font-size: 8px;;
            }
       }
