.container{
    height:800px;
    width:100%;
    position:relative;
    background-color: white;
}
.header{
    background-color:#F4F4F4;
    height:50px;
    width:100%;
    padding:4%;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;

}

.listings{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
    overflow-y: auto;
    background-color: white;
}

.listingWrapper{
    height: 100%;
    width: 100%;
    padding: 4%;
}


@media screen and (max-width: 1880px),
       screen and (max-width: 1366px) and (orientation: landscape),
       screen and (max-width: 1366px) and (orientation: portrait){

       }


 @media  screen and (max-width: 1200px) and (orientation: landscape),
       screen and (max-width: 1200px) and (orientation: portrait),
       screen and (max-width: 1024px) and (orientation: landscape),
       screen and (max-width: 1024px) and (orientation: portrait){

       }

       @media screen and (max-width:960px) and (orientation: landscape){
        .header{
            font-size:10px;
        }
       }

       @media screen and (max-width:768px),
       screen and (max-width:667px) and (orientation: portrait){
        .header{
            font-size:10px;
        }
       }

       @media screen and (max-width : 350px),
       screen and (max-width:480px){
        .header{
            font-size:10px;
        }

       }

       @media screen and (max-width:320px),
       screen and (max-width:480px){
        .header{
            font-size:10px;
        }
       
       }

       @media screen and (max-width:290px){
         .header{
             font-size:10px;
         }
       }